html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #BCDDFE; 
    color: #333; 
    text-align: center;
}

header {
    background-color: #007acc; 
    padding: 20px;
    color: #fff; 
}

h1 {
    font-size: 2em;
    margin: 10px 0;
}

h1 p {
    font-size: 1.2em;
    margin: 20px 0;
}

#text {
    border: 1px solid #8EB6D8;
    margin:10px;
    border-radius: 10px;
}

#text {
    height: 150px;
    background-color : white;
}

#inputText {
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;
    font-size: 1.2em;
}





#inputBar {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}


#textBar {
    flex: 0.4;
    border-radius: 5px;
    border-color: #70869B;
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.2);
}

#tempsRestant {
    width: 60px;
    margin-left: 10px;
    border-radius: 5px;
    font-weight: bold;
    background-color: #3C4D5C;
    color: white;
}

#resetButton {
    background-color: #428BCA;
    margin-left: 10px;
    padding: 0px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

#imageReset {
    border-radius: 5px;
    height : 40px;
    width: 40px;
    border-color: #3A83BF;
}

#predictionSection {
    background-color : white;
    margin:10px;
    border-radius: 10px;
}  


#letterPredictionSection {
    background-color : white;
    margin:10px;
    border-radius: 10px;
}


.loadingSection {
    height: 100vh;
}


.scroll {
    background-color: #428BCA;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.scroll:hover {
    background-color: #3A83BF;
}

#utilisateur, #touche {
    background-color: #428BCA;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}

#utilisateur:hover,
#touche:hover {
    background-color: #3A83BF;
}

.bouton-actif {
    background-color: #336699 !important;
}

.hide {
    display: none;
}




.different {
    background-color: red;
}

.same {
    background-color: green;
}